@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

:root {
  --button-color: #45c5ff;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

/* ------- Main Page ------- */
.title {
  text-align: center;
}

.button-container {
  display: grid;
}

.button-link {
  text-decoration: none;
  color: black;
  padding: 50px;
  background-color: var(--button-color);
  grid-template-columns: 1;
  width: 200px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px black;
  margin: 10px auto;
  text-align: center;
  font-size: 1.3rem;
}

.button-link:hover {
  transform: scale(0.97);
}

/* ------- Entry Form ------- */
.go-home {
  margin: 10px auto;
  width: 100px;
  overflow: visible;
}

.go-home-link {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 5px;
  width: 75px;
  height: 25px;
  padding: 5px;
  border-radius: 25px;
}

.go-home:hover {
  transform: scale(0.97);
}

.entry-form {
  display: grid;
  width: 300px;
  margin: auto;
}

.entry-form label,
.entry-form input {
  grid-template-columns: 1;
}

.entry-form label {
  font-size: 1.2rem;
}

.entry-text-input {
  height: 25px;
}

.submit {
  height: 40px;
  margin-top: 10px;
}

/*----- View Entry Page -------*/
.entry-table td {
  text-align: center;
}
.entry-table tr {
  height: 30px;
}
.date-column {
  width: 100px;
}

.city-column {
  width: 125px;
}

.state-column {
  width: 125px;
}

.county-column {
  width: 125px;
}

.description-column {
  width: 350px;
}
